@font-face {
    font-family: 'Pokemon GB';
    src: url('pokemongb.woff2') format('woff2'),
        url('pokemongb.woff') format('woff'),
        url('pokemongb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Pokemon GB';
    background-color: #eee8d5;
}

table, th, td {
    border: 1px solid;
}

tr:nth-child(even) {
    background-color: #fdf6e3;
}