<!doctype>
<html>
    <head>
        <title>Multidex</title>
        <link href="/multidex/_layouts/stylesheet.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/multidex/_layouts/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/multidex/_layouts/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/multidex/_layouts/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/multidex/_layouts/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/multidex/_layouts/favicon/site.webmanifest" />
    </head>
    <body>
    {{ content }}
    </body>
</html>